<form action="/countries/edit" method="post">
            <input type="hidden" name="id" value=<%= @country.id %>>
            <textarea name="question"><%= @country.question %></textarea>
            <input type="text" value=<%= @country.answer %> name="answer">
            <input type="text" name="flag" value=<%= @country.flag %>>
            <input type="submit" value="Save">
</form>
